.container {
    position: absolute;
    top: 2vw;
    right: 50vh;
    left: 20vh;
    width: 80vw;
    height: 92vh;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
}


 @media (max-width: 1200px) {
    .container {
        margin-top: 1rem;
        margin-left: 1rem;
        top: 1vh;
        left: 2vw;
        width: 90vw;
    }
 }

 @media (max-width: 800px) {
    .container {
        top: 2vh;
        left: 4vw;
        width: 90vw;
        margin-top: 1rem;
        margin: 1rem auto;
    }
 }

 @media (max-width: 560px) {
    .container {
        top: 2vh;
        left: 3vw;
        width: 90vw;
        max-width: 100%;
        margin-top: 1rem;
        margin: 1rem auto;
    }
 }