:root {
  --normal: #a6a877;
  --grass: #77c850;
  --fire: #ee7f30;
  --water: #678fee;
  --electric: #f7cf2e;
  --ice: #98d5d7;
  --ground: #dfbf69;
  --flying: #a98ff0;
  --poison: #a040a0;
  --fighting: #bf3029;
  --psychic: #f65687;
  --dark: #725847;
  --rock: #b8a137;
  --bug: #a8b720;
  --ghost: #6e5896;
  --steel: #b9b7cf;
  --dragon: #6f38f6;
  --fairy: #f9aec7;
}

@keyframes auraPulseAnimation {
  0% {
    opacity: 0.7;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.801);
  }
  100% {
    opacity: 0.7;
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
  }
}

.title {
  display: flex;
  padding: 1rem 1.8rem;
  justify-content: space-between;
}

.title > h1 {
  font-weight: 800;
}

.boxPoke {
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 2rem;
  text-transform: capitalize;
}

.containerPoke {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: auto;
}

.cardPokemon {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2px;
  border-radius: 1rem;
  margin: .6rem;
  padding: 1rem;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.cardPokemon ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.cardPokemon ul li {
  margin-bottom: 5px;
}

.cardPokemon img {
  max-width: 100%;
  height: 70px;
  max-height: 100%;
}

.pokemonTypes {
  padding-top: 1rem;
}

.pokeIdImage {
  text-align: right;
}

.morePokemon {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer > button {
  border: none;
  padding: 0.7rem;
  background-color: #D7D7D7;
  color: #FFFFFF;
  border-radius: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

.buttonContainer > button:hover {
  animation: auraPulseAnimation 1.5s infinite;
}


.cardPokemon:nth-child(odd) {
  background-color: var(--normal);
}

.cardPokemon:nth-child(even) {
  background-color: var(--grass);
}

.cardPokemon .grass {
  background-color: var(--grass);
}

.cardPokemon .fire {
  background-color: var(--fire);
}

.cardPokemon .water {
  background-color: var(--water);
}

.cardPokemon .electric {
  background-color: var(--electric);
}

.cardPokemon .ice {
  background-color: var(--ice);
}

.cardPokemon .ground {
  background-color: var(--ground);
}

.cardPokemon .flying {
  background-color: var(--flying);
}

.cardPokemon .poison {
  background-color: var(--poison);
}

.cardPokemon .fighting {
  background-color: var(--fighting);
}

.cardPokemon .psychic {
  background-color: var(--psychic);
}

.cardPokemon .dark {
  background-color: var(--dark);
}

.cardPokemon .rock {
  background-color: var(--rock);
}

.cardPokemon .bug {
  background-color: var(--bug);
}

.cardPokemon .ghost {
  background-color: var(--ghost);
}

.cardPokemon .steel {
  background-color: var(--steel);
}

.cardPokemon .dragon {
  background-color: var(--dragon);
}

.cardPokemon .fairy {
  background-color: var(--fairy);
}
